@charset "utf-8";
/* CSS Document  hidden*/

body {
	margin-top:0px;
	margin-left:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000033;
}

table.login{
	width: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

#logout {
	width: 2px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#login td {
	margin:1px;
	background-color:#FFFFFF;
	padding:5px;
}

input {
	border-color:#333333;
	border-width:1px;
	border-style:solid;
	color:#333333;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}

.input2 {
	border-color:#0B9A04;
	border-width:1px;
	border-style:solid;
	color:#FFFFFF;
	background:#0B9A04;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}

textarea {
	border-color:#333333;
	border-width:1px;
	border-style:solid;
	color:#333333;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}

select {
	border-color:#333333;
	border-width:1px;
	border-style:solid;
	color:#333333;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}

.error {
 	border:2px solid red;
}

.hidden {
  /* display: none;*/
}

#login .error {
	font-size:10px;
	color:#FF0000;
}

#managersTable {
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	width:800px;
}

#managersMenu {
	background-color:#2C6700;
	color:#FFFFFF;
	font-weight:bold;
}

#managersMenu td {
	padding:5px;
	border-left-color:#FFFFFF;
	border-left-style:solid;
	border-left-width:4px;
	border-right-color:#2C6700;/*999999;*/
	border-right-style:solid;
	border-right-width:1px;
}
.report {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#b6e702;
	font-weight:bold;
	text-decoration:none;	
}

a.myLink:active {font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#b6e702; text-decoration:none;}
a.myLink:visited {font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#b6e702; text-decoration:none;}
a.myLink:link {font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#b6e702; text-decoration:none;}
a.myLink:hover {text-decoration:overline underline;}

.rowlabel
{
	border-color:#072667;
	border-width:1px;
	border-bottom-style:solid;
	border-top-style:solid;	
	font-weight:bold;
}
.cell
{
	border-width:1px;
	border-bottom-style:dotted;
	border-top-style:none;	
	border-left-style:none;
	border-right-style:none;
}
#managersMenu a {
	text-decoration:none;
	color:#FFFFFF;
}

#managersMenu a:hover {
	/*text-decoration:overline underline;*/
	text-decoration: none;
	border-bottom: 4.5px solid white;
	color:#FFFFFF;
}

#managersMenu td.Selected {
	background-color:#CCCCCC;
	color:#000000;
}

#managersMenu td.Selected a {
	color:#072667;
}

#managersMenu tr.SubCat {
	background-color:#A6C44A;
}

#managersWorkTable {
	margin-left:auto;
	margin-right:auto;
}

#managersWorkTable td {
	padding:5px;
}

#managersWorkTable td.ManagersHeading {
	border-color:#072667;
	border-width:1px;
	border-bottom-style:solid;
	border-top-style:solid;
	font-weight:bold;
	font-size:14px;
}

#managersWorkTable a {
	color:#A6C44A;
	text-decoration:none;
}

#managersWorkTable a.control {
	font-weight:bold;
}

#managersWorkTable a:hover {
	text-decoration:underline overline;
}

#managersWorkTable tr.List td {
	border-color:#A6C44A;
	border-width:1px;
	border-bottom-style:dotted;
}

#managersWorkTable td table.Tree {
	padding:0px;
}

#managersWorkTable td table.Tree td {
	padding:0px;
	border-color:#072667;
	border-width:1px;
	border-style:solid;
	line-height:25px;
}

#managersWorkTable td table.Tree td a {
	padding:5px;
}

#timeTable {
	padding:0px;
	margin:0px;
}

#timeTable td {
	padding:1px;
}

/*
* Date Picker
*/

/* the div that holds the date picker calendar */
.dpDiv {
	}


/* the table (within the div) that holds the date picker calendar */
.dpTable {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	color: #505050;
	background-color: #ece9d8;
	border: 1px solid #AAAAAA;
	}


/* a table row that holds date numbers (either blank or 1-31) */
.dpTR {
	}


/* the top table row that holds the month, year, and forward/backward buttons */
.dpTitleTR {
	}


/* the second table row, that holds the names of days of the week (Mo, Tu, We, etc.) */
.dpDayTR {
	}


/* the bottom table row, that has the "This Month" and "Close" buttons */
.dpTodayButtonTR {
	}


/* a table cell that holds a date number (either blank or 1-31) */
.dpTD {
	border: 1px solid #ece9d8;
	}


/* a table cell that holds a highlighted day (usually either today's date or the current date field value) */
.dpDayHighlightTD {
	background-color: #CCCCCC;
	border: 1px solid #AAAAAA;
	}


/* the date number table cell that the mouse pointer is currently over (you can use contrasting colors to make it apparent which cell is being hovered over) */
.dpTDHover {
	background-color: #aca998;
	border: 1px solid #888888;
	cursor: pointer;
	color: red;
	}


/* the table cell that holds the name of the month and the year */
.dpTitleTD {
	}


/* a table cell that holds one of the forward/backward buttons */
.dpButtonTD {
	}


/* the table cell that holds the "This Month" or "Close" button at the bottom */
.dpTodayButtonTD {
	}


/* a table cell that holds the names of days of the week (Mo, Tu, We, etc.) */
.dpDayTD {
	background-color: #CCCCCC;
	border: 1px solid #AAAAAA;
	color: white;
	}


/* additional style information for the text that indicates the month and year */
.dpTitleText {
	font-size: 12px;
	color: gray;
	font-weight: bold;
	}


/* additional style information for the cell that holds a highlighted day (usually either today's date or the current date field value) */ 
.dpDayHighlight {
	color: #4060ff;
	font-weight: bold;
	}


/* the forward/backward buttons at the top */
.dpButton {
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: gray;
	background: #d8e8ff;
	font-weight: bold;
	padding: 0px;
	}


/* the "This Month" and "Close" buttons at the bottom */
.dpTodayButton {
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: gray;
	background: #d8e8ff;
	font-weight: bold;
	}

.example {
  background-color: #fff;
  border: dashed 2px #ccc;
  margin: auto 2em;
  padding: 1em;
}

/* POPUP STYLE */
#popUP 
{ 
	display: none; position: absolute; 
	background: #000; 
	/*
	opacity: 0.7; 
	-moz-opacity: 0.7; 
	-khtml-opacity: 0.7; 
	filter: alpha(opacity=40); 
	width: 100%; 
	height: 100%; 
	top: 0; 
	left: 0; */
	z-index: 99;
}
#popBOX 
{ 
	display: none; 
	position: absolute;
	background: white; 
	/*#b9e77b*/
	color: #333; 
	font-size: 1.2em; 
	text-align: center; 
	border: 1px solid #111; 
	top: 190px; 
	z-index: 100; 
}
.popX 
{ 
	font-size: 12px; 
	color: #ddd; 
	padding: 4px 0;
	border-top: 1px solid #636D61; 
	background: #072667; 
	/*#778574 */
}


/* DOTTED TABLE*/
	table.dot
	{
		/*border:1px solid #999999;*/
		border-collapse:collapse;
		font-family: verdana,arial,sans-serif;
		font-size:12px;
	}
	
	table.dot th
	{
		/*background-color:#bbe0e3;*/
		background-color:#072667;
		border:1px solid #999999;
		padding:3px;
		font-family: verdana,arial,sans-serif;
		font-size:12px;
		text-align:left;
		color:white;
	}
	
	table.dot td 
	{
		/*border:1px solid #c3c3c3;*/
		padding:3px;
		font-family: verdana,arial,sans-serif;
		font-size:12px;
		
	border-width:1px;
	border-bottom-style:dotted;
	border-top:none;	
	border-left:none;
	border-right:none;		
		
	}

/*TINY BOX*/
#tinybox {position:absolute; display:none; padding:10px; background:#fff url(images/preload.gif) no-repeat 50% 50%; border:10px solid #e3e3e3; z-index:2000}
#tinymask {position:absolute; display:none; top:0; left:0; height:100%; width:100%; background:#000; z-index:1500}
#tinycontent {background:#fff}

.button {font:14px Georgia,Verdana; margin-bottom:10px; padding:8px 10px 9px; border:1px solid #ccc; background:#eee; cursor:pointer}
.button:hover {border:1px solid #bbb; background:#e3e3e3}



/*Table Reference*/
table.reference
{
	border:1px solid #999999;
	border-collapse:collapse;
	font-family: verdana,arial,sans-serif;
	font-size:12px;
}

table.reference th
{
	/*background-color:#bbe0e3;
	background-color:#072667;
	border:1px solid #999999;
	background-color:#00688B;*/
	background-color:#3586be;
	border:1px solid #00688B;
	padding:3px;
	font-family: verdana,arial,sans-serif;
	font-size:12px;
	text-align:left;
	color:white;
}

table.reference td 
{
	border:1px solid #c3c3c3;
	padding:3px;
	font-family: verdana,arial,sans-serif;
	font-size:12px;
	
}

table.reference .prototype  
{
	display:none;
}


input.w_auto{
width: 100%;
}